<h2>Booking title goes here</h2>
<p>
  Use ActionController::Live for this feature.<br />
  Have a single page with regions on the page representing "Lawns" that are available on certain days (keep to a subset of 10 days to make this manageable).<br />
  Clicking on an available lawn will then record it as booked and immediately propagate the booked status out to all other users.
</p>