<h2 class="article_title">Links to Croquet Sites</h2>

<section class="info">
  <ul>
    <li><a href="http://www.croquet.co.uk">The Croquet Association Home Page</a></li>
    <li><a href="http://www.croquet.co.uk/tournament">The Croquet Association Events</a></li>
    <li><a href="http://www.southeastcroquet.org.uk">SECF</a></li>
    <li><a href="http://www.thecroquetacademy.com">Croquet Academy</a></li>
    <li><a href="http://www.oxfordcroquet.com/equip/">Croquet Equipment - Mallets etc.</a></li>
    <li><a href="http://www.bowlsdirect.com/contact.htm">Croquet Equipment - Whites</a></li>
    <li><a href="http://cornwall-croquet.org.uk/croquet_glossary.htm">Croquet Glossary</a></li>
    <li><a href="http://www.croquet.co.uk/association/laws.html">Association Croquet Rules</a></li>
    <li><a href="http://www.croquet.co.uk/golf/laws/contents.htm">Golf Croquet Rules</a></li>
  </ul>
</section>