<h2 class="article_title"><%= @title %></h2>

<section class="info">
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut hendrerit libero mauris. Phasellus et magna ut risus vehicula semper. Sed a felis sed mi dapibus ultricies. Sed mattis purus eget massa hendrerit rhoncus. Integer lectus dui, cursus vitae leo sit amet, ullamcorper volutpat lacus. Aliquam non augue vel massa ultrices eleifend. Nam non tellus id nulla scelerisque tincidunt eget vitae enim. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
</section>