<h1>CcbcCore#Newsletters</h1>
<p>Pdf files should be uploadable via the password protected admin area. The Newsletters should be grouped on this page by year. Clicking the title of a Newsletter should trigger a download of the pdf.</p>
<p>Use CarrierWave and (something) (look at the slides on Udemy)</p>