<h2 class="article_title">Upcoming Events:</h2>
<!--
<p>
  Make the title of this page automatically reflect the current year.<br />
  Events should be stored in a database and the page generated from that.<br />
  Only current and future events should be displayed.<br />
  Adding and deleting events should only be possible via a password protected Admin area.
</p>
-->
<section id="events_list">
  <% @events.each do |event| %>
    <% if event.date >= Date.today() then %>
      <section class="event">
        <h3 class="event_title"><%= event.title %></h3>
        <p class="event_date"><%= event.date.strftime("%-d %B %Y") %></p>
        <p class="event_desc"><%= event.description %></p>
      </section>
    <% end %>
  <% end %>
</section>