<h2>Programme title goes here</h2>
<p>
  Make the title of this page automatically reflect the current year.<br />
  Events should be stored in a database and the page generated from that.<br />
  Only current and future events should be displayed.<br />
  Adding and deleting events should only be possible via a password protected Admin area.
</p>