<header id="page_header" class="box">
  <table id="header_table">
    <tr>
      <td class="image_cell">
        <%= image_tag "CCBC_Logo.png", id: "CCBC_Logo", alt: "CCBC Logo", title: "The Cheam Croquet & Bowls Club" %>
      </td>
      <td class="title_cell">
        <h1 id="header_title">
          Cheam Croquet &<br />
          Bowls Club
        </h1>
      </td>
      <td class="filler cell"></td>
    </tr>
  </table>
</header>