$background: #5050ff; // Mid blue
$inner_background: #7F7FFF; // Light blue
$border_colour: #00009F; // Very dark blue
$colour_text: #00005F; // Dark blue
$white: #FFFFFF; // White
$black: #000000; // Black
$light_grey: #BFBFBF; // A light grey
$dark_grey: #3F3F3F; // A dark grey
$highlight: #FF0000; // Red

