// Place all the styles related to the CCBC_Core controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.box {
  padding: 10px 20px;
	border-width: 5px; border-style: solid; border-radius: 10px;
}

header#page_header {
  margin-left: auto; margin-right: auto; margin-top: 0px; margin-bottom: 0px;
}

img#CCBC_Logo {
  display: block;
  margin-left: auto; margin-right: 0px;
  vertical-align: middle;
	border-width: 5px; border-style: solid; border-radius: 30px;
}

h1#header_title {
  text-align: left;
  font-size: 40px; font-weight: bold;
  font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif;
  margin-top: 5px; margin-bottom: 0px;
}

table#header_table {
  width:100%;
  margin-bottom: 0px;
  
  tr {
    
    td {
//      border: 1px solid black;
    }

    td.image_cell {
      width: 20%;
      padding-left:10px; padding-right:10px;
    }

    td.title_cell {
      padding-left: 0px;
      vertical-align: middle;
      text-align: left;
    }

    td.filler_cell {
      vertical-align: top;
      text-align:right;
  
  a#admin_login {
    text-decoration: none;
  }

  a:hover#admin_login {
    text-decoration: underline;
  }
    }
  }
}

nav#navbar {
  ul {
  	list-style-type: none;
    margin-left: auto; margin-right: auto; margin-top: 0; margin-bottom: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    display: table;
    
    li {
      float: left;
      min-height: 15px;
      width: 20%;
      
      a {
        display:block;
        height: 100%;
        font-size: 15px; font-weight: bold; font-variant: small-caps;
        font-family: "Lucida Console", "Lucida Sans Typewriter", Monaco, "Bitstream Vera Sans Mono", monospace;
        text-align: center; text-decoration: none;
        padding: 5px 0px;
        -ms-transition: 0.25s all;
        -o-transition: 0.25s all;
        -moz-transition: 0.25s all;
        -webkit-transition: 0.25s all;
        transition: 0.25s all;
      }
      a:hover, a:active {
        -ms-transition: 0.25s all;
        -o-transition: 0.25s all;
        -moz-transition: 0.25s all;
        -webkit-transition: 0.25s all;
        transition: 0.25s all;
      }
    }
  }
}

footer p {
  text-align: center; font-style: italic;
  font-size: 10px;
}

h2.article_title {
  margin-top: 10px;
  font-size: 30px; font-weight: bold;
  font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif;
}

article#page_content {
  margin-top: 0px; margin-left: auto; margin-right: auto;
}

p#intro_text {
  font-size: 20px;
  text-align: center;
}

a.intro_link {
  text-decoration: none;
  font-weight: bold;
}

a.intro_link:hover, a.intro_link:active {
  text-decoration: underline;
}

section.news p, section.info p {
  margin-left: 10px; margin-right: 10px;
  margin: 0px 10px 10px;
  text-align: justify;
}

section#events_list, section#newsletters_list {
  margin-top: 30px;
  
  h3.newsletter_year {
    margin: 0px 10px 10px;
    font-size: 20px; font-weight: bold;
  }
  
  section.event {
    margin: 20px 30px;
    
    h3.event_title {
      margin-bottom: 5px;
      font-size: 20px;
      font-family: Georgia, Times, "Times New Roman", serif;
    }
    
    p.event_date {
      margin: 5px 15px 5px 15px;
      font-style: italic; font-size: 10px;
    }
    
    p.event_desc {
      margin: 10px 10px 5px 10px;
      font-size: 12px;
    }
  }
}

section.newsletter {
  margin: 10px 30px 20px;
  
  a.newsletter_title {
    font-size: 16px;
    text-decoration: none;
  }

a:hover.newsletter_title {
  text-decoration: underline;
}
  
  p.newsletter_desc {
    margin-left: 5px;
    font-size: 10px;
  }
}
